<table id="example2" class="table table-borderless table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Jenis Pembayaran</th>
      <th>Bank</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% payment.forEach((e, i) => { i++ %>
    <tr>
      <td><%= i %></td>
      <td><%= e.type %></td>
      <td>
        <% e.banks.forEach(bank => { %>
          <span class="badge badge-info">
            <%= bank.name %>-<%= bank.bankName %>-<%= bank.noRekening %>
          </span>
        <% }) %>
      </td>
      <td>
        <% if (e.status === 'Y') { %>
          <span class="badge badge-success">
            Aktif
          </span>
          <% } else { %>
            <span class="badge badge-danger">
              Tidak Aktif
            </span>
        <% } %>
      </td>
      <td>
        <form action="/payment/status/<%= e._id %>?_method=PUT" method="post" class="d-inline-block">
          <button class="btn btn-outline-primary btn-sm">
            <i class="fas fa-folder"></i>
            <% if (e.status === 'Y') { %>
                Matikan
              <% } else { %>
                  Hidupkan
            <% } %>
          </button>
        </form>
        <form action="/payment/delete/<%= e._id %>?_method=DELETE" method="post" class="d-inline-block">
          <a href="/payment/edit/<%= e._id %>" class="btn btn-warning btn-sm">
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash-alt"></i>
            Hapus
          </button>
        </form>
      </td>
    </tr>
    <% }) %>

  </tbody>
</table>